.cards__inside {
    width: 372px;
    text-align: center;
    margin: 20px;
    background: #c8facd;
    border-radius: 8px;
    padding-bottom: 30px;
}
.cards__inside.bg-color1{
    background-color: rgb(208 242 255);
}
.cards__inside.bg-color1 .cards__icon{
    color: rgb(12, 83, 183);
    background-image: linear-gradient(
135deg
, rgba(12, 83, 183, 0) 0%, rgba(12, 83, 183, 0.24) 100%);
}
.cards__inside.bg-color2{
    background-color: rgb(255 247 205);
}
.cards__inside.bg-color3{
    background-color: rgb(255 231 217);
}
.cards{
    width: 100%;
    display: flex;
}
.cards__icon  {
    font-size: 27px;
    width: 64px;
    padding-bottom: 14px;
    padding-top: 14px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 31px;
    color: rgb(0, 123, 85);
    background-image: linear-gradient( 
135deg
 , rgba(0, 123, 85, 0) 0%, rgba(0, 123, 85, 0.24) 100%);
    border-radius: 50%;
}
.cards__inside p {
    color: rgb(10 135 96);
    font-size: 17px;
}
.cards__inside h2 {
    font-size: 28px;
    color: rgb(0, 82, 73);
    margin-bottom: 7px;
}
