*{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.side-menu{
    position: fixed;
    background: #fffefe;
    width: 292px;
    height: 100%;
    border-right: 1px solid #d9d9d9;
    box-sizing: border-box;
    padding: 30px 20px;
}
.side-menu.inactive{
    width: 80px;
}
.side-menu.inactive .side-menu__top--section__toggle-menu-arrow{
    right: -50px;
    
}
.side-menu__top--section{
    position: relative;
}
.side-menu .side-menu__top--section__logo{
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
}
.side-menu .side-menu__top--section__logo img{
    max-width: 100%;
    max-height: 100%;
}
.side-menu__top--section__toggle-menu-arrow{
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
.side-menu__main-menu{
    margin: 10px 0;
}
.side-menu .side-menu__main-menu--menu-item{
    text-decoration: none;
    font-size: 15px;
    display: block;
    color: #6a6565;
    cursor: pointer;
}
.side-menu .side-menu__main-menu--menu-item.active{
    background: #e5fff0;
    color: #38cb6f;
    font-weight: 600;
}
.side-menu .side-menu__main-menu--menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
}
.side-menu.inactive .side-menu__main-menu--menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}
.divider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #ebe6e6;
}
.side-menu__main-menu--menu-item__menu-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.container{
    margin-left: 300px;
    transition: margin-left .2s ease-in;
    padding: 50px;
}
.container.inactive{
    margin-left: 80px;
}